<template lang="pug">

  div.category-page(v-show="page.items.length")
    mo-category-item(v-for="c in page.items" :key="c._id.toString()" :cat="c" @cattapped="onCattapped")

</template>

<script>

  import { moCategoryItem } from '.'

  export default {

    name: "moCategoryPage",
    components: { moCategoryItem },
    props: [ 'page' ],
    methods: {

      onCattapped (cat) {
        this.$emit('cattapped', { cat, pageIndex: this.page.index })
      }
    }
  }

</script>

<style scoped lang="stylus">

  .category-page
    vertical-align top
    display inline-block
    width auto
    min-width 200px
    height auto
    text-align left

</style>
