<template lang="pug">

  div.cat-item(@mouseenter="handleMouseEnter" @mouseleave="handleMouseLeave")
    a(href="javascript://" @click="goto()") {{ cat.name }}

</template>

<script>

  export default {

    name: "moCategory",
    props: [ 'cat' ],

    data () {
      return {
        hovered: false,
        timer: null
      }
    },

    methods: {

      handleMouseEnter () {
        this.hovered = true
        this.timer = setTimeout(() => {
          if (this.hovered) {
            this.$emit('cattapped', this.cat)
          }
          clearTimeout(this.timer)
        }, 800)
      },
      handleMouseLeave () {
        this.hovered = false
      },

      goto () {

      }
    }
  }

</script>

<style scoped lang="stylus">

  .cat-item
    padding 4px 8px
    width 100%
    display block
    cursor pointer

    &:hover
      background-color #0079cd40

    a
      color #FFFFFFD0
      font-size 22px
      text-decoration none
      display block
      padding 20px

</style>
