@import "fonts.styl"
@import "theme.styl"

html
  font-family $DEF_FONT
  font-size $DEF_FS
  word-spacing $DEF_WSPACE
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  letter-spacing normal
  line-height normal
  vertical-align baseline
  box-sizing border-box
  overflow-x hidden

*, *:before, *:after
  box-sizing border-box
  margin 0
  padding 0

body
  position relative
  font-family $DEF_FONT
  font-size $DEF_FS
  color $ROOT_C
  background-color $ROOT_BGC
  width 100vw
  height 100vh
  margin 0
  padding 0

a
  font-family $LNK_FONT
  color $LNK_C
  font-size $LNK_FS
  font-weight $LNK_FW
  cursor pointer
  &:hover
    color $LNK_HOV_C

button
  text-align center
  background-color transparent
  outline none
  border none
  display block
  padding $BTN_PAD
  color $BTN_C
  font-family $BTN_FONT
  font-size $BTN_FS
  font-weight $BTN_FW
  border-radius $BTN_BRAD
  cursor pointer
  user-focus none
  user-select none

  &:hover
    transition filter 0.2s ease-in-out
    filter brightness(1.2)

  > *
    vertical-align baseline
    line-height 1

    &::first-of-type
      margin-right 5px

header, footer, main
  display block
  padding 0
  margin 0
  width 100%
