@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Black.woff")
  font-weight 900
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-BlackItalic.woff")
  font-weight 900
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Heavy.woff")
  font-weight 800
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-HeavyItalic.woff")
  font-weight 800
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Bold.woff")
  font-weight 700
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-BoldItalic.woff")
  font-weight 700
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Semibold.woff")
  font-weight 600
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-SemiboldItalic.woff")
  font-weight 600
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Medium.woff")
  font-weight 500
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-MediumItalic.woff")
  font-weight 500
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Regular.woff")
  font-weight 400
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-RegularItalic.woff")
  font-weight 400
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Light.woff")
  font-weight 300
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-LightItalic.woff")
  font-weight 300
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Thin.woff")
  font-weight 200
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-ThinItalic.woff")
  font-weight 200
  font-style italic

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-Ultralight.woff")
  font-weight 100
  font-style normal

@font-face
  font-family 'SFProDisplay'
  src url("~@/assets/fonts/SFProDisplay-UltralightItalic.woff")
  font-weight 100
  font-style italic

@font-face
  font-family 'MuliBlack'
  src url("~@/assets/fonts/Muli-Black.ttf")
  font-weight 800
  font-style normal