<template lang="pug">

  header.mo-header(:style="moHeaderStyle")
    mo-logo(:height="height" :style="moLogoStyle")
    mo-topmenu(:headerHeight="height")

    mo-category-menu(:shown="true" :headerHeight="height")

</template>

<script>

  import { moLogo, moTopmenu } from './header'
  import { moCategoryMenu } from './header/topmenu'
  import {
    MAX_HEADER_HEIGHT,
    MAX_PAGE_WIDTH,
    MIN_HEADER_HEIGHT
  } from '../../assets/settings'

  export default {

    name: 'moHeader',
    components: { moLogo, moTopmenu, moCategoryMenu },

    props: {
      maxHeight: {
        type: String,
        default: MAX_HEADER_HEIGHT
      },
      minHeight: {
        type: String,
        default: MIN_HEADER_HEIGHT
      }
    },

    data () {
      return {
        scrollTop: 0
      }
    },

    computed: {
      moHeaderStyle () {
        const { maxHeight, minHeight, height } = this
        return { maxHeight: maxHeight + 'px', minHeight: minHeight + 'px', height: height + 'px' }
      },
      moLogoStyle () {
        return {
          left: `calc(50vw - 0.5 * ${MAX_PAGE_WIDTH}px)`
        }
      },
      height () {
        const { maxHeight, minHeight, scrollTop } = this
        return Math.max(minHeight, maxHeight - Math.max(scrollTop - 200, 0)) + 20
      }
    },
    created () {
      document.addEventListener('scroll', () => {
        const { scrollingElement: { scrollTop } } = document
        this.scrollTop = scrollTop
      })
    }
  }

</script>

<style scoped lang="stylus">

  .mo-header
    position fixed
    width 100%
    z-index 2

</style>
