<template lang="pug">

  nav.topmenu__item(:class="{ current }")
    router-link(:to="route" v-if="!route.meta.dropdown")
      | {{ caption }}
      small.symbol(v-if="route.meta.after") {{ route.meta.after.content }}
    a(href="javascript://" v-else @click="showMenu()")
      | {{ caption }}
      small.symbol(v-if="route.meta.after") {{ route.meta.after.content }}

</template>

<script>

  export default {

    name: "moTopmenuItem",
    props: [ 'route' ],

    computed: {
      caption () {
        const { route: { meta: { caption } } } = this
        return caption
      },
      current () {
        const { $route, route } = this
        return $route.name === route.name
      }
    },
    methods: {
      showMenu () {
        this.$store.commit('showCategoryMenu')
      }
    }
  }

</script>

<style lang="stylus">

  .topmenu
    &__item
      display inline-block

      &.current
        a
          background-color #4a89cb 40
          text-shadow 1px 0px 3px #FFFFFF30, -1px 0px 2px #FFFFFF40, 0px -1px 2px #FFFFFF40, 1px 1px 3px #FFFFFF30
          box-shadow 0px -4px 4px 2px #3A6ABB 35, 0px 4px 6px 4px #5A98DB 30, 0px 8px 12px 16px #5085eb 40 inset
          opacity 1
          transform scale(1.1)

  .topmenu
    menu
      position absolute
      margin 0
      height 100%
      width auto
      display block

      nav
        padding 0
        width auto
        a
          color #FFFFFF
          text-decoration none
          font-size 24px
          line-height 20px
          padding 10px 25px
          vertical-align middle
          opacity 0.75
          transition all 0.2s ease-out
          display block
          width 100%
          height 100%
          background-color transparent
          border-radius 28px / 12px

          &:hover:not(.current)
            text-shadow 1px 0px 3px #FFFFFF10, -1px 0px 2px #FFFFFF20, 0px -1px 2px #FFFFFF20, 1px 1px 3px #FFFFFF10
            box-shadow 0px -10px 8px 6px #5A89BB 15 inset, 0px 6px 6px 4px #5A98DB 15 inset, 0px 10px 12px 22px #5085eb 15 inset
            background-color rgba(79, 129, 176, 0.1)
            opacity 0.95
            transform scale(1.05)

  .symbol
    font-size 14px
    margin-left 12px

</style>
