<template lang="pug">

  div

</template>

<script>

  import { moListing } from '../components/views'

  export default {

    name: "Listing",
    components: { moListing }

  }

</script>

<style scoped lang="stylus">

</style>
