<template lang="pug">

  div.mo-logo(:style="logoStyle")
    img(src='~@/assets/img/logo_01.png' :style="logoStyle")

</template>

<script>

  export default {

    name: 'moLogo',

    props: {
      height: {
        type: Number,
        default: 240
      }
    },

    computed: {
      logoStyle () {
        const { height } = this
        return {
          height: height + 'px',
          width: 'auto'
        }
      }
    }
  }

</script>

<style scoped lang="stylus">

  .mo-logo
    position absolute
    z-index 1
    filter hue-rotate(-369deg) saturate(0.3) contrast(1.5)
    mix-blend-mode normal
    cursor pointer
    background-image url("~@/assets/img/logo_01.png")
    background-position center
    background-size 100%
    background-repeat no-repeat
    transform scale(0.9)
    transition all 0.5s ease-in-out
    img
      opacity 0.4
      mix-blend-mode overlay
      transition all 0.5s ease-in-out
      filter blur(10px) contrast(4) brightness(4)

    &:hover
      filter hue-rotate(-369deg) saturate(0.3) contrast(1.5)
      transform translateY(5px) scale(0.95)
      img
        opacity 0.1
        filter blur(20px) contrast(16) brightness(4)
        transform scale(0.8) rotate(720deg)

</style>
