<template lang="pug">

  div.topmenu(:style="topmenuStyle")
    menu(:style="menuStyle")
      mo-topmenu-item(v-for="r in routes" :key="r.name" :route="r")

</template>

<script>

  import {
    MAX_PAGE_WIDTH,
    MIN_HEADER_HEIGHT,
    TOPMENU_BG,
    TOPMENU_BOTTOM
  } from '@/assets/settings'
  import { moTopmenuItem, moCategoryMenu } from './topmenu'
  import { getCategories } from '@/api'

  export default {

    name: 'moTopmenu',
    components: { moTopmenuItem, moCategoryMenu },
    props: [ 'headerHeight' ],

    data () {
      return {}
    },
    computed: {
      topmenuStyle () {
        return {
          height: MIN_HEADER_HEIGHT + 'px',
          backgroundColor: TOPMENU_BG,
          marginBottom: TOPMENU_BOTTOM + 'px'
        }
      },
      menuStyle () {
        const { headerHeight } = this
        return {
          left: `calc(50vw - 0.5 * ${MAX_PAGE_WIDTH}px + ${headerHeight}px + 20px)`
        }
      },
      routes () {
        const { $router: { options: { routes } } } = this
        return routes.filter(r => r.path !== '/')
      }
    },

    created () {
      const { $stitch } = this
      if (!$stitch) {
        throw new Error('Error! No Db connection.')
      }
      getCategories({ stitch: $stitch }).then(categories => {
        this.$store.commit('storeCategories', { categories })
      })
    }
  }

</script>

<style scoped lang="stylus">

  .topmenu
    position sticky
    top 100%
    width 100%

</style>
