<template lang="pug">

  div#app

    mo-header
    mo-main(:style="{height: '2500px'}")
    mo-footer

</template>

<script>

  import { moBurger, moFooter, moHeader, moMain } from '@/components/layout'

  export default {

    name: 'App',
    components: { moMain, moHeader, moFooter, moBurger },

    created () {

    }
  }

</script>

<style lang="stylus">

  @import "./assets/css/base.styl"

</style>
